<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zap Node's Basic</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <br/>
        <p>Hello from Node</p>
        <br/>
        <div id="root"></div>
    </body>
    <script src="/public/js/app.js"></script>
</html>
